@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

.contentMain{
    overflow: hidden;
}
.Main{
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    font-family: 'Overpass', sans-serif;
    width: 60%;
}
.MainTitle{
    position: relative;
    bottom: 50px;
    left: 355px;
}
.MainImg{
    position: relative;
    left: 400px;
    
}
.editorMobile{
    display: none;
}
.MainPp{
    margin-top: 20px;
    line-height: 30px;
}
.MainP{
    margin-top: 200px;
    height: 100px;
    width: 500px;
}
.PhonesbackgrounBlue{
    background-image: linear-gradient(to right,hsl(237, 17%, 21%), 50%, hsl(237, 23%, 32%));
    height: 500px;
    width: 1440px;
    margin: auto;
    border-bottom-left-radius: 85px;
    border-top-right-radius: 85px;
}
.PhonesP{
    width: 600px;
    height:100px ;
}
.PhonesContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    color: white;
    font-family: 'Overpass', sans-serif;

}
.PhonesPp{
    margin-top: 30px;
    line-height: 35px;
}
.Laptop{
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    margin: auto;
}
.LaptopContainer{
    margin-top: 300px;

}
.laptopimg{
    margin-top: 100px;
    position: relative;
    right: 400px;
    overflow: hidden;
}
.LaptopP{
    width: 600px;
    position: relative;
    font-family: 'Overpass', sans-serif;
    margin-top: 30px;
}
.Laptop{
    margin-top: 50px;
    margin-bottom: 35px;
}
.LaptopMobile{
    display: none;
}
@media only screen and (max-width: 380px){
    .contentMain{
        width: 380px;
        height: 2900px;
    }
    .Main{
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: 500px;
    }
    .editorMobile{
        display: flex;
        width: 80%;
        position: relative;
        left: 45px;
    }
    .MainImg{
        display: none;
    }
    .MainTitle{
        position: relative;
        left: 25px;
    }
    .MainPTitle{
        position: relative;
        left: 15px;
    }
    .MainP{
        margin-top: 200px;
        height: 350px;
        width: 75%;
        text-align: center;
        margin-top: 50px;
        position: relative;
        left: 30px;
        line-height: 23px;
    }
    .Phone{
        width: 380px;
        height: 500px;
    }
    .Laptop{
        width: 380px;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .LaptopContainerP{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .LaptopContainer{
        width: 380px;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .LaptopMobile{
        display: flex;
        position: relative;
        left: 1px;
    }
    .MainPp{
        font-size: 15px;
        line-height: 23px;
        position: relative;
        left: 20px;
    }
    .LapttopPTitle{
        font-size: 20px;
        margin: auto;
    }
    .LaptopP{
        position: relative;
        left: 10px;
        width: 85%;
        line-height: 23px;
        height: 290px;
        font-size: 15px;
        line-height: 23px;
    }
    .Laptop{
        width: 90%;
        text-align: center;
    }
    .PhonesContent{
        height:600px;
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    .Phone{
        width: 380px;
    }
    .PhonesbackgrounBlue{
        margin-top: 650px;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .PhonesImg{
        width: 80%;;
        position: relative;
        bottom: 170px;
        left: 10px;
    }
    .PhonesP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        position: relative;
        left: 60px;
        bottom: 140px;
        font-size: 15px;
    }
    .PhonesPTitle{
        width: 80%;
        position: relative;
        right: 10px;
    }
    .PhonesPp{
        text-align: center;
        position: relative;
        right: 5px;
        width: 75%;    
        line-height: 23px;
    }
    .laptopimg{
        display: none;
    }
    .ContentMain{
        max-width: 380px;
    }
}